<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Simple messaging app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="style.css" rel="stylesheet">
</head>

<body>
<div id="divLogin" class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <button id="btnLogin" class="btn btn-lg btn-primary btn-block">Log in</button>
    <p id="usedUsername">This username is already used.</p>
</div>

<div id="divChat" class="container-fluid">
    <button id="btnDisconnect" class="btn btn-danger">Disconnect</button>
    <p id="usernameMessage"></p>
    <div id="divMessages"></div>
    <input class="form-control" id="inputRecipient" placeholder="Recipient">
    <input class="form-control" id="inputMessage" placeholder="Message...(write /users to get the list of connected users)">
</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="client.js"></script>
</html>
