html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

#divLogin {
    align-items: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#inputUsername {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#divMessages {
    text-align: left;
}

#inputRecipient {
    width: 200px;
    margin-bottom: 10px;
}

.listUsers {
    color: green;
}

.ownMessage {
    color: gray;
}

.otherMessage {
    color: dodgerblue;
}

.error {
    color: red;
}